@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Karla:wght@700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Karla', sans-serif;

    height: 100vh;
    display: flex;
    padding: 30px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #0B2434;
}

main {
    display: flex;
    width: 320px;
    height: 320px;
    padding: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #F5F5F5;
}

.dices-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 18px;
}

.dice {
    width: 36px;
    height: 36px;

    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);

    display: flex;
    justify-content: center;
    align-items: center;
}
